
{% extends 'layout.html.twig' %}

{% block header %}{# Reprend l'affiche de l'image d'accueil et du menu #}
  {{ parent() }}
{% endblock %} 

{% block reduction_image %}{# Affiche l'image d'accueil en taille reduite #}
  {{ parent() }} 
{% endblock %}

{% block index %}{# Vide pour ne pas afficher l'image en grande taille #}
{% endblock %}    


{% block content %}
<div class="container-fluid"> 
    <div class="row">  
        <div class="col-md-12">
            <h2 class="titre">Gestion des clubs</h2>

            <a href="{{ path('app_admin_club_edit') }}" class="btn btn-primary">Ajouter un club</a>
            
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Id</th>
                        <th>Date de création</th>
                        <th>Date de modification</th>
                        <th>Actions</th>
                        <th>Nom</th>
                        <th>N° association</th>
                        <th>Année de création</th>
                        <th>Sigle</th>
                        <th>Couleurs</th>
                        <th>Logo</th>
                        <th>Stade</th>
                        <th>Statut</th>
                        <th>Président</th>
                        <th>Ville</th>
                        <th>Adresse</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                    </tr>
                    {% for club in clubs %}
                        <tr>
                            <td>{{ club.id }}</td>
                            <td>{{ club.createdAt|date('d/m/Y h:i:s')}}</td>
                            <td>{% if club.updatedAt is not null %}{{ club.updatedAt|date('d/m/Y h:i:s') }}{% endif %}</td>
                            <td>
                                <!--<div class="btn-group"> -->
                                    <a type="button" href="{{ path('app_admin_club_edit', {id: club.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Modifier</a>
                                    <a type="button" href="{{ path('app_admin_club_delete', {id: club.id}) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Supprimer</a>
                                <!--</div> -->
                             </td>
                            <td>{{ club.nom }}</td>
                            <td>{{ club.assoc }}</td>
                            <td>{{ club.anneeCreation }}</td>
                            <td>{{ club.sigle }}</td>
                            <td>{{ club.couleurs }}</td>
                            <td>
                            {% if club.logo is not null %}
                    <div>
                        <img src="{{ asset('upload/' ~ club.logo) }}" width="100px">
                    </div>
                            {% endif %}
                            </td>
                            <td>{{ club.stade }}</td>
                            <td>{{ club.statut }}</td>
                            <td>{{ club.president }}</td>
                            <td>{{ club.ville }}</td>
                            <td>{{ club.adresse }}</td>
                            <td>{{ club.email }}</td>
                            <td>{{ club.telephone }}</td>
                        </tr>
                    {% endfor %}    
                </table>
            </div>
        <div class="col-md-8 col-md-offset-2">
            {% if(nbsaisons is defined and nbsaisons == false) %}
                          <div class="jumbotron">
                            <h2>Pour accéder à la gestion de votre Club, <br>vous devez d'abord créer une saison</h2>
                           
                            <div class="text-center bouton"><p><a class="btn btn-success btn-lg" href="{{ path('app_admin_saison_edit') }}" role="button">Créer ma 1ère saison</a></p></div>
                          </div>      
            {% else %}
            <h1>Liste clubs<a href="{{ path('app_admin_club_edit') }}" class="btn btn-primary pull-right">Ajouter un club</a></h1>

            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>Id</th>
                    <th>Date de création</th>
                    <th>Date de modification</th>
                    <th>Nom</th>
                    <th>N° association</th>
                    <th>Année de création</th>
                    <th>Sigle</th>
                    <th>Couleurs</th>
                    <th>Logo</th>
                    <th>Stade</th>
                    <th>Statut</th>
                    <th>Président</th>
                    <th>Ville</th>
                    <th>Adresse</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th width="300px"></th>

                </tr>
                {% for club in clubs %}
                    <tr>
                        <td>{{ club.id }}</td>
                        <td width="150px">{{ club.createdAt|date('d/m/Y h:i:s')}}</td>
                        <td width="10px">{% if club.updatedAt is not null %}{{ club.updatedAt|date('d/m/Y h:i:s') }}{% endif %}</td>
                        <td>{{ club.nom }}</td>
                        <td>{{ club.assoc }}</td>
                        <td>{{ club.anneeCreation }}</td>
                        <td>{{ club.sigle }}</td>
                        <td>{{ club.couleurs }}</td>
                        <td>
                        {% if club.logo is not null %}
                <div class="">
                    <img src="{{ asset('upload/' ~ club.logo) }}" width="100px">
                </div>
                        {% endif %}
                        </td>
                        <td>{{ club.stade }}</td>
                        <td>{{ club.statut }}</td>
                        <td>{{ club.president }}</td>
                        <td>{{ club.ville }}</td>
                        <td>{{ club.adresse }}</td>
                        <td>{{ club.email }}</td>
                        <td>{{ club.telephone }}</td>
                        <td><a href="{{ path('app_admin_club_edit', {id: club.id}) }}" class="btn btn-primary">Modifier</a>
                            <a href="{{ path('app_admin_club_delete', {id: club.id}) }}" class="btn btn-danger">Supprimer</a></td>
                    </tr>
                {% endfor %}    
            </table>
            {% endif %}
        </div>
    </div> 
</div>            
{% endblock %}
