{% extends 'layout.html.twig' %}

{% block header %}{# Reprend l'affiche de l'image d'accueil et du menu #}
  {{ parent() }}
{% endblock %} 

{% block reduction_image %}{# Affiche l'image d'accueil en taille reduite #}
  {{ parent() }} 
{% endblock %}

{% block index %}{# Vide pour ne pas afficher l'image en grande taille #}
{% endblock %}    


{% block content %}
<div class="container"> 
    <div class="row">  
        <div class="col-md-7"> 
            <!-- Modification du titre selon création/édition -->
            {% if equipe1 is not null %}
                <h1 class="titre">Edition de la rencontre : {{ equipe1 }} contre {{ equipe2 }} du {{ date|date('d/m/Y') }}</h1>
            {% else %}    
                <h1 class="titre">Création d'une rencontre</h1>
            {% endif %}
                
            {{ form_start(form) }}{# ouvre la balise form #}
            {{ form_row(form.date) }}
            {{ form_row(form.equipe1) }}
            {{ form_row(form.equipe2) }}
            {{ form_row(form.domicile) }}
            {{ form_row(form.lieu) }}
            {# affichage des champs de score que si edit #}
            {# A FAIRE #}
            {% if form.vars.data.id %}
                {{ form_row(form.equipe1Score) }}
                {{ form_row(form.equipe2Score) }}
            {% endif %}
            
            <div class="form-btn-group">
                <a href="{{ path('app_admin_rencontre_index') }}" class="btn btn-default pull-right"><i class="fa fa-angle-left"></i> Retour</a>
                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Enregistrer la rencontre</button>
            </div> 
            {{ form_end(form) }}{# ferme la balise form #}

        </div>
    </div> 
</div>    
{% endblock %}
{% block javascripts %}
    {{ parent() }} 
    
        {# <script language="javascript" type="text/javascript">
		 document.getElementById("rencontre_domicile_1").onclick = function(){
                     document.getElementById("formcache").style.display = "block";
                     } ;
                 
		    
                
        </script>  
        <script>
            document.getElementById("rencontre_domicile_0").onclick = function(){
                     document.getElementById("formcache").style.display = "none";
                 };
        </script> #}

  
{% endblock %}    