{% extends 'layout.html.twig' %}

{% block header %}{# Reprend l'affiche de l'image d'accueil et du menu #}
  {{ parent() }}
{% endblock %} 

{% block reduction_image %}{# Affiche l'image d'accueil en taille reduite #}
  {{ parent() }} 
{% endblock %}

{% block index %}{# Vide pour ne pas afficher l'image en grande taille #}
{% endblock %}    


{% block content %}
<div class="container"> 
    <div class="row">  
        <div class="col-md-6 col-md-offset-3">  
            
            <!-- Modification du titre selon création/édition -->
            {% if prenom_nom is not null %}
                <h1>Edition du membre du Staff : {{ prenom_nom }}</h1>
            {% else %}    
                <h1>Création d'un membre du staff</h1>
            {% endif %}
            
            
            {{ form_start(form) }}{# ouvre la balise form #}
            {{ form_row(form.prenom) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.fonction) }}
            
             <p>Actuellement : 
            {% if form.vars.value.image is not null %}
                <img src="{{ asset('upload/' ~ form.vars.value.image.filename) }}" width="100px"> 
                {{ form_row(form.remove_image) }}
            {% else %}
                <img src="{{ asset('upload/front_equipes_imgDefaut/img2.png') }}" width="100px">
            {% endif %} 
        </p>
        
            <div class="form-btn-group pull-right">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Enregistrer</button>
                <a href="{{ path('app_admin_staff_index') }}" class="btn btn-default"><i class="fa fa-angle-left"></i> Retour</a>
            </div>
            {{ form_end(form) }}{# ferme la balise form #}
        </div>
    </div> 
</div>     
{% endblock %}
