<article>
            <h3>
                <a href="{{ path('app_article_index', {id: article.id}) }}">
                    {{ article.title }}
                </a>
            </h3>
            <div class="well">{{ article.description }}</div>
            <p>
                Dans <em>{{ article.category }}</em>, 
                par {{ article.author.fullname }}
            </p>
</article>